*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-border-default: #212529;
}

.login-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
}
.brand{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.input-container{
    width: 340px;
    max-height: 50%;
    padding: 16px;
    border-radius: 6px;
    /* background-color: rgb(216, 224, 231); */
    border: 1px solid var(--color-border-default);
    display: flex;
    flex-direction: column;
}
.input-container label{
    text-align: left;
    margin-bottom: 8px;
font-weight: 400;
}
.input-container input {
    margin-top: 4px;
margin-bottom: 16px;
}
.user-input{
    padding: 5px 12px;
font-size: 14px;
line-height: 20px;
vertical-align: middle;
background-position: right 8px center;
border: 1px solid var(--color-border-default);
border-radius: 6px;
outline: none;
}
